<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FacturaElectronica"
        tools:targetApi="31">
        <activity
            android:name=".ConfDatosDelContribuyenteActivity"
            android:exported="false" />
        <activity
            android:name=".ComprobanteCCFActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ResMensualActivity"
            android:exported="false" />
        <activity
            android:name=".GenerarCFActivity"
            android:exported="false" />
        <activity
            android:name=".ReDatosContribuyenteActivity"
            android:exported="false" />
        <activity
            android:name=".MenuActivity"
            android:exported="false" />
        <activity
            android:name=".InfoReceptoresActivity"
            android:exported="false" />
        <activity
            android:name=".PDF_CFActivity"
            android:exported="false" />
        <activity
            android:name=".LogoActivity"
            android:exported="false" />
        <activity
            android:name=".BackupActivity"
            android:exported="false" />
        <activity
            android:name=".RestauracionActivity"
            android:exported="false" />
        <activity
            android:name=".Comprobantecf"
            android:exported="true" />
        <activity
            android:name=".InfoEmisorActivity"
            android:exported="false" />
        <activity
            android:name=".AgregarArticuloActivity"
            android:exported="false" />
        <activity
            android:name=".ReClienteActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>