<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.billsv.facturaelectronica">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.FacturaElectronica"
        tools:targetApi="31">
        <activity
            android:name=".VerPdfCF"
            android:exported="false" />
        <activity
            android:name=".VerPdfCCF"
            android:exported="false" />
        <activity
            android:name=".VerPDF"
            android:exported="false" />
        <activity
            android:name=".ImportarClientes"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PrinReClienteActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".DescripcionActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ReClienteActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ComprobanteCCFActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResMensualActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReDatosContribuyenteActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MenuActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InfoReceptoresActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PDF_CFActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BackupActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RestauracionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EmitirCCFActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InfoEmisorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EmitirCFActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.billsv.facturaelectronica.AgregarArticuloActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>