@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@keyframes desplazamiento {
    0% {
        transform: translateY(-20px); /* Empieza 20px arriba de su posición normal */
        opacity: 0; /* Empieza completamente transparente */
    }
    100% {
        transform: translateY(0); /* Vuelve a su posición normal */
        opacity: 1; /* Se vuelve completamente visible */
    }
}

/* Define la animación de cambio de color */
@keyframes cambio-color {
    0% {
        background-color: #051937; /* Color de fondo inicial (azul) */
    }
    40.5% {
        background: linear-gradient(to right, #2E594A, #80BFA8);
/* Color de fondo que se mantiene durante casi toda la animación */
    }
    100% {
        background: linear-gradient(to bottom right, #2E594A 20%, #95BFB0);/* Color de fondo final (color normal) */
    }
}

body {
    margin: 0;
    padding: 0;
  }

.seccion {
    
    color: white;
    margin-left: -10px;
    margin-right: -10px;
    text-align: left;
    padding: 50px;
    display: flex; /* Usa flexbox para alinear los elementos */
    justify-content: space-between; /* Alinea los elementos a los extremos */
    align-items: center; /* Centra verticalmente los elementos */
    animation: cambio-color 3s ease-in-out forwards;
    
    /* Otros estilos para tu sección */
  }

  /* Estilos para el título */
.titulo {
    font-family: 'Arial', sans-serif; /* Cambia el tipo de letra del título */
    font-size: 20px; /* Tamaño de fuente para el título */
    font-weight: bold; /* Negrita para el título */
    margin-top: 0; /* Elimina el margen superior */
    padding-top: 0; /* Elimina el espacio de relleno superior */
  }
  
  /* Estilos para el contenido */
  .contenido {
    font-family: 'Roboto', sans-serif; /* Cambia el tipo de letra del contenido */
    font-size: 50px; /* Tamaño de fuente para el contenido */
    font-weight: 10;
    margin-right: 0px;
  }

  .imagen-telefono {
    max-width:950px;
    height: 550px;
    margin-bottom: 20px;
  }

 /* Aplica la animación a todos los elementos */
.titulo,
.contenido,
.imagen-telefono {
    animation: desplazamiento 1s ease-in-out; /* Aplica la animación con duración de 1 segundo y efecto de entrada y salida suave */
}

  
  /* Media query para pantallas pequeñas */
@media (max-width: 768px) {
    .contenido {
        font-size: 40px; /* Tamaño de fuente para pantallas pequeñas */
        margin-right: 20px; /* Margen reducido para pantallas pequeñas */
    }
    .imagen-telefono {
        max-width: 100%; /* La imagen ocupa todo el ancho disponible */
        height: auto; /* Altura automática para mantener la proporción */
    }
}

/* Media query para pantallas más pequeñas */
@media (max-width: 480px) {
    .contenido {
        font-size: 25px; /* Tamaño de fuente aún más reducido para pantallas muy pequeñas */
        margin-right: 10px; /* Margen aún más reducido para pantallas muy pequeñas */
    }
}